################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nCountColorPicker.Web/.vs/nCountColorPicker.Web
